# User Service
USER_SERVICE_PORT=8081
USER_DB_HOST=localhost
USER_DB_PORT=5433
USER_DB_NAME=users
USER_DB_USERNAME=user_service
USER_DB_PASSWORD=user_service_dev
JPA_SHOW_SQL=true

# Product Service
PRODUCT_SERVICE_PORT=8082
PRODUCT_DB_HOST=localhost
PRODUCT_DB_PORT=5434
PRODUCT_DB_NAME=products
PRODUCT_DB_USERNAME=product_service
PRODUCT_DB_PASSWORD=product_service_dev

# Order Service
ORDER_SERVICE_PORT=8083
ORDER_DB_HOST=localhost
ORDER_DB_PORT=5435
ORDER_DB_NAME=orders
ORDER_DB_USERNAME=order_service
ORDER_DB_PASSWORD=order_service_dev
USER_SERVICE_URL=http://localhost:8081
PRODUCT_SERVICE_URL=http://localhost:8082
SERVICE_CONNECT_TIMEOUT=2s
SERVICE_READ_TIMEOUT=5s
CHECKOUT_RECOVERY_ENABLED=true
CHECKOUT_RECOVERY_DELAY=5000
